<div class="container-fluid">
  <div class="row">
    <nav class="navbar transparent fixed-top navbar-toggleable-md navbar-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Novikov Dvinsky</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  <!-- SECTION HERO SLIDER -->
  <div class="row">
    <div id="hero-slider">
      <div>
        <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14517524_1245752005496907_5808567290812415914_n.jpg?oh=687cbd192856c31aae90da0c04fcb31a&oe=598CE09D">
        <div class="slider-caption">
          <h1>Sed posuere consectetur est at lobortis.</h1>
          <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
      <div>
        <img class="img-fluid" src="http://www.hdwallpapers.in/walls/taj_mahal_india_5k-wide.jpg">
        <div class="slider-caption">
          <h1>Sed posuere cofghjnsectetur est at lobortis.</h1>
          <p>Nullam quis rfhjisus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
      <div>
        <img class="img-fluid" src="http://www.hdwallpapers.in/walls/chicago_cultural_center_dome-HD.jpg">
        <div class="slider-caption">
          <h1>Sed posuerefsdfg consectetur est at lobortis.</h1>
          <p>Nullam quissdfgsfg risus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION HERO SLIDER -->

  <!-- SECTION ABOUT ME -->
  <div class="row">
    <div id="about-me-section">
      <div class="col-md-12">
        <img class="portrait" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/16807641_1426663770739062_1627099748089375799_n.jpg?oh=75113cb3884d9c4aadc84362771026f4&oe=59843551">

        <div class="offset-md-5 description">
          <h2 class="text-center">About me</h2>
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.
            Aenean
            eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna
            mollis
            euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere
            consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper.
          </p>
          <p>
            Risus Porta Vestibulum<br>
            - Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.<br>
            - Nulla vitae elit libero, a pharetra augue.<br>
            - Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          </p>
          <p>
            Phone: +12-345-6789<br>
            E-mail: info@savannahmay.com
          </p>
          <div class="text-center">
            <img class="signature" src="https://openclipart.org/image/2400px/svg_to_png/232911/Richard_M_Nixon_Signature.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION ABOUT ME -->

  <!-- RECENT PROJECTS -->
  <div class="row">
    <div id="recent-projects-section">
      <div class="col-sm-12">
        <h2 class="text-center">Recent projects</h2>
        <div class="row">
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13529182_1106733612732081_5306307136019537037_n.jpg?oh=3f5a0bb4ed19c9f25380e33e518a8278&oe=594D3AA3">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13423967_1094167777321998_6752398128555552978_n.jpg?oh=5e1405eb295f2848048ab3b4154e1d99&oe=5951AE52">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13932797_1140669119338530_5416571660097426628_n.jpg?oh=c3ee31a4c08fc5409fbd0737d8bcf81f&oe=59964A3D">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13718788_1117513431654099_2236134438050820268_n.jpg?oh=9fb71bbd24e15250273a5e173e11dfc6&oe=5985E163">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14045948_1163391630399612_1667167091767655746_n.jpg?oh=0b7b36c31e214e51084df2b1ceca311f&oe=5999D69B">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14079822_1161316747273767_7433859045857180461_n.jpg?oh=fc160e24f1fadafd224964a949d89ec4&oe=5985EFAF">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14117889_1165253440213431_4658633350813106522_n.jpg?oh=225304bb374c81f1f3b4c473e4029202&oe=59993EFD">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14517524_1245752005496907_5808567290812415914_n.jpg?oh=687cbd192856c31aae90da0c04fcb31a&oe=598CE09D">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14925484_1273578522714255_5167561213623152634_n.jpg?oh=a01434dac11530c86712a0508ab917ed&oe=599AD0A2">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14606376_1250503955021712_6535190107754553615_n.jpg?oh=6d25a3169c7cb76ec6f5a84c143e14b0&oe=598239B4">
          </div>
          <div class="col-sm-3 project-preview">
            <div class="overlay">
              <h3 class="text-center">Test title</h3>
            </div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14938385_1285433654862075_8442587972296231111_n.jpg?oh=b3ad71999d1f2cda635aaabc87ef1b67&oe=598C8187">
          </div>
        </div>
        <div class="row text-center">
          <button class="btn btn-default-dark btn-lg" type="button" name="button">Portfolio</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END RECENT PROJECTS -->

  <!-- OPINIONS -->
  <div class="row">
    <div id="slick-opinions-header">
      <h2 class="text-center">Opinions</h2>
    </div>
      <div id="opinions-section">
        <div class="opinion">
          <div class="col-md-12">
            <div class="col-12 col-md-4">
              <img class="img-fluid mx-auto d-block" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7" alt="">
            </div>
            <div class="col-md-8">
              <p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              <i>Magna Adipiscing</i>
            </div>
          </div>
        </div>
        <div class="opinion">
          <div class="col-md-12">
            <div class="col-12 col-md-4">
              <img class="img-fluid mx-auto d-block" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13718788_1117513431654099_2236134438050820268_n.jpg?oh=9fb71bbd24e15250273a5e173e11dfc6&oe=5985E163" alt="">
            </div>
            <div class="col-md-8">
              <p>Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.</p>
              <i>Mattis Ullamcorper</i>
            </div>
          </div>
        </div>
        <div class="opinion">
          <div class="col-md-12">
            <div class="col-12 col-md-4">
              <img class="img-fluid mx-auto d-block" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14517524_1245752005496907_5808567290812415914_n.jpg?oh=687cbd192856c31aae90da0c04fcb31a&oe=598CE09D" alt="">
            </div>
            <div class="col-md-8">
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              <i>Tristique</i>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- END OPINIONS -->

  <!-- INSTAGRAM -->
  <div class="row" id="instagram-section">
      <div class="col-md-4" >
        <div class="capture">
          <h2>Instagram</h2>
          <p>Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue.</p>
          <button class="btn btn-default-dark btn-lg" type="button" name="button">Profile</button>
        </div>
      </div>
      <div class="col-md-8 instagram-gallery">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img class="img-fluid instagram-image" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14938385_1285433654862075_8442587972296231111_n.jpg?oh=b3ad71999d1f2cda635aaabc87ef1b67&oe=598C8187">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img class="img-fluid instagram-image" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14606376_1250503955021712_6535190107754553615_n.jpg?oh=6d25a3169c7cb76ec6f5a84c143e14b0&oe=598239B4">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img class="img-fluid instagram-image" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14925484_1273578522714255_5167561213623152634_n.jpg?oh=a01434dac11530c86712a0508ab917ed&oe=599AD0A2">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img class="img-fluid instagram-image" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14517524_1245752005496907_5808567290812415914_n.jpg?oh=687cbd192856c31aae90da0c04fcb31a&oe=598CE09D">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img class="img-fluid instagram-image" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14117889_1165253440213431_4658633350813106522_n.jpg?oh=225304bb374c81f1f3b4c473e4029202&oe=59993EFD">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img class="img-fluid instagram-image" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14079822_1161316747273767_7433859045857180461_n.jpg?oh=fc160e24f1fadafd224964a949d89ec4&oe=5985EFAF">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img class="img-fluid instagram-image" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14045948_1163391630399612_1667167091767655746_n.jpg?oh=0b7b36c31e214e51084df2b1ceca311f&oe=5999D69B">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img class="img-fluid instagram-image" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13718788_1117513431654099_2236134438050820268_n.jpg?oh=9fb71bbd24e15250273a5e173e11dfc6&oe=5985E163">
        </div>
      </div>
  </div>
  <!-- END INSTAGRAM -->

  <!-- FOOTER -->

  <footer>
    <div class="row">
      <div class="col-sm-12">
        <div class="footer">
          <h2 class="footer-brand">Novikov Dvinsky</h2>
          <div class="contacts">
            <small>Phone: +123-123-123</small><br>
            <small>Email: test@test.com</small>
          </div>
          <div class="social">
            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-instagram"></i>
          </div>
          <div class="creator">
            <small>Copyright © 2017 Konstantin Smirnov. All Rights Reserved.</small>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->

</div>
