<div class="container-fluid">
  <div class="row">
    <nav class="navbar transparent fixed-top navbar-toggleable-md navbar-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Novikov Dvinsky</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  <!-- SECTION HERO SLIDER -->
  <div class="row">
    <div class="hero-slider">
      <div>
        <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/14517524_1245752005496907_5808567290812415914_n.jpg?oh=687cbd192856c31aae90da0c04fcb31a&oe=598CE09D">
        <div class="slider-caption">
          <h1>Sed posuere consectetur est at lobortis.</h1>
          <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
      <div>
        <img class="img-fluid" src="http://www.hdwallpapers.in/walls/taj_mahal_india_5k-wide.jpg">
        <div class="slider-caption">
          <h1>Sed posuere cofghjnsectetur est at lobortis.</h1>
          <p>Nullam quis rfhjisus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
      <div>
        <img class="img-fluid" src="http://www.hdwallpapers.in/walls/chicago_cultural_center_dome-HD.jpg">
        <div class="slider-caption">
          <h1>Sed posuerefsdfg consectetur est at lobortis.</h1>
          <p>Nullam quissdfgsfg risus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION HERO SLIDER -->

  <!-- SECTION ABOUT ME -->
  <div class="row">
    <div class="about-me-section">
      <div class="col-md-12">
        <img class="portrait" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/16807641_1426663770739062_1627099748089375799_n.jpg?oh=75113cb3884d9c4aadc84362771026f4&oe=59843551">

        <div class="offset-md-5 description">
          <h2 class="text-center">About me</h2>
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.
            Aenean
            eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna
            mollis
            euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere
            consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper.
          </p>
          <p>
            Risus Porta Vestibulum<br>
            - Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.<br>
            - Nulla vitae elit libero, a pharetra augue.<br>
            - Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          </p>
          <p>
            Phone: +12-345-6789<br>
            E-mail: info@savannahmay.com
          </p>
          <div class="text-center">
            <img class="signature" src="https://openclipart.org/image/2400px/svg_to_png/232911/Richard_M_Nixon_Signature.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION ABOUT ME -->

  <!-- RECENT PROJECTS -->
  <div class="row">
    <div class="recent-projects-section">
      <div class="col-sm-12">
        <h2 class="text-center">Recent projects</h2>
        <div class="row">
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
          <div class="col-sm-3">
            <div class="overlay"></div>
            <img class="img-fluid" src="https://z-1-scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13428458_1089272627811513_7023440657904062519_n.jpg?oh=27d2333d7d6208727a3c802f37e4e4c4&oe=59869FE7">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END RECENT PROJECTS -->

  <!-- OPINIONS -->

  <!-- INSTAGRAM -->

  <!-- FOOTER -->
  <footer>

  </footer>

</div>