<nav class="nav nav-pills flex-column">
  <%= link_to 'Dashboard', admin_dashboard_path, class: "nav-link #{is_active?('admin/dashboard')}" %>
  <%= link_to 'item 1', '#', class: 'nav-link' %>
  <%= link_to 'item 2', '#', class: 'nav-link' %>
  <%= link_to 'item 3', '#', class: 'nav-link' %>

</nav>
