<nav class="nav nav-pills flex-column">
  <%= link_to 'Dashboard', admin_dashboard_path, class: "nav-link #{is_active?('admin/dashboard')}" %>
  <%= link_to 'Hero carousel', admin_hero_carousel_slides_path, class: "nav-link #{is_active?('admin/hero_carousel_slides')}" %>
  <%= link_to 'Account', admin_account_path, class: "nav-link #{is_active?('admin/account')}" %>
</nav>
