<footer>
  <div class="row">
    <div class="col-sm-12">
      <div class="footer">
        <h2 class="footer-brand">Novikov Dvinsky</h2>
        <div class="contacts">
          <small>Phone: +123-123-123</small><br>
          <small>Email: test@test.com</small>
        </div>
        <div class="social">
          <i class="fa fa-facebook-official"></i>
          <i class="fa fa-instagram"></i>
        </div>
        <div class="creator">
          <small>Copyright © 2017 Konstantin Smirnov. All Rights Reserved.</small>
        </div>
      </div>
    </div>
  </div>
</footer>
