<div class="row">
  <footer>
    <div class="col-sm-12">
      <h2 class="footer-brand">
        <%= link_to root_path do %>
          <%= @setting ? @setting.webpage_title : 'PHOTO WEBPAGE' %>
        <% end %>
      </h2>
      <div class="contacts">
        <small>Phone: +123-123-123</small><br>
        <small>Email: test@test.com</small>
      </div>
      <div class="social">
        <i class="fa fa-facebook-official"></i>
        <% if @instagram && @instagram.access_token %>
          <a href="https://www.instagram.com/<%= @instagram.username %>" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        <% end %>
      </div>
      <div class="creator">
        <small>Copyright © <%= Time.now.year %> <a href="https://www.facebook.com/kostya.smirnov.7" target="_blank">Konstantin Smirnov</a>. All Rights Reserved.</small>
      </div>
    </div>
  </footer>
</div>
