<div class="row">
  <nav class="navbar transparent fixed-top navbar-toggleable-md navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'Novikov Dvinsky', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Admin', '#', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', logout_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
