<nav class="navbar fixed-top navbar-inverse navbar-toggleable-xl" id="project_navbar">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= go_back_link(params[:go_back_page]) %>
      </li>
    </ul>

    <% if @project %>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link share-button" onclick='share_facebook(
                  "<%= "#{project_url(@project)}" %>",
                  "<%= "#{@project.title}" %>"
          )'>
            <%= t('portfolio.share_album') %> <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>
    <% end %>
</nav>
