<h3>Projects</h3>
<%= link_to 'Add project', new_admin_project_path, class: 'btn btn-default-light' %>
<hr>
<div id="projects">
  <% @projects.each do |project| %>
    <%= render partial: 'admin/projects/project', locals: { project: project } %>
  <% end %>
</div>
