<% title @project.title %>
<div class="row">
  <div id="project-page">
    <div class="slider-for">
      <% @photos.each do |photo| %>
        <div class="slider-cover-photo">
          <%= image_tag photo.image.url(:cover) %>
        </div>
      <% end %>
    </div>

    <div class="slider-nav">
      <% @photos.each do |photo| %>
        <%= image_tag photo.image.url(:thumb) %>
      <% end %>
    </div>
  </div>
</div>
