<!-- for Facebook -->
<meta property="og:title" content="<%= @project.title %>" />
<meta property="og:type" content="article" />
<meta property="og:image" content="" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:description" content="" />

<% title @project.title %>
<div class="row">
  <div id="project-page">
    <div class="slider-for">
      <% @photos.each do |photo| %>
        <div class="slider-cover-photo">
          <%= image_tag photo.image.url(:cover) %>
        </div>
      <% end %>
    </div>

    <div class="slider-nav">
      <% @photos.each do |photo| %>
        <%= image_tag photo.image.url(:thumb), alt: photo.alt %>
      <% end %>
    </div>
  </div>
</div>
