<div class="col-12">
  <%= simple_form_for @category, url: admin_category_path(@category), html: { autocomplete: 'off', class: 'form-inline' }, remote: true do |f| %>
    <div class="col-6">
      <%= f.input :title, label: false, placeholder: 'Title' %>
    </div>
    <div class="col-6">
      <%= f.submit 'Update', class: 'btn btn-default-light btn-processable' %>
      <%= link_to 'Cancel', admin_category_cancel_path(@category), remote: true, class: 'btn btn-default-light btn-processable' %>
    </div>
  <% end %>
</div>
