<div id="category-<%= object.id %>" class="row category">
  <div class="col-6">
    <h5><i class="fa fa-arrows"></i> <%= "#{object.title} (#{object.projects.count} projects)" %></h5>
  </div>
  <div class="col-6">
    <%= link_to 'Edit', edit_admin_category_path(object), remote: true, class: 'btn btn-default-light btn-processable' %>
    <%= link_to 'Delete', admin_category_path(object), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-default-light btn-processable' %>
  </div>
</div>
