
// LOGO FONT
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
// HEADERS
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

// COLORS
$primary: #00EBFF;
$text-dark: #2D2D2D;
$text-light: #FFF;
$text-medium: rgba(255, 255, 255, 0.7);

h1, h2 {
  text-transform: uppercase;
  color: $text-dark;
  font-family: 'Ropa Sans', sans-serif;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 28pt;
}

/* ===================== NAVBAR ======================= */

nav.navbar.transparent {
  background-color:transparent;
  background-color: rgba(30,30,30,0.5);
}

nav .navbar-brand {
  text-transform: uppercase;
  font-family: 'Marcellus SC', serif;
  font-size: 28pt;
}

nav .navbar-nav .nav-item {
  padding-left: 30px;
  font-size: 12pt;
  text-transform: uppercase;
}

nav .navbar-nav .nav-item.active a.nav-link {
  color: $primary;
  font-weight: bold;
}
/* ===================== END NAVBAR ======================= */


/* ===================== HERO SLIDER======================= */
.hero-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  
  img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  

  button.slick-next,
  button.slick-prev {
    position: absolute;
    top: 50%;
    z-index: 999;

  }
  button.slick-next {
    right: 20px;
    visibility: hidden;
    &:before {
      visibility: visible;
      content: "";
      display: block;
      width: 27px;
      height: 44px;
      -moz-background-size: auto;
      -webkit-background-size: auto;
      background-size: auto;
      background-color: $primary;
      -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    }
  }
  button.slick-prev {
    left: 20px;
    visibility: hidden;
    &:before {
      visibility:visible;
      content: " ";
      display: block;
      width: 27px;
      height: 44px;
      -moz-background-size: auto;
      -webkit-background-size: auto;
      background-size: auto;
      background-color: $primary;
      -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    }
  }
  .slider-caption {
    position: absolute;
    bottom: 20px;
    left: 10%;
    right: 10%;
    padding-bottom: 70px;

    h1 {
      background-color: $text-light;
      float: left;
    }
    p {
      font-size: 24pt;
      text-transform: uppercase;
      background-color: $text-dark;
      color: $text-medium;
      font-family: 'Ropa Sans', sans-serif;
      float: left;
      padding: 5px;
    }
  }
}
/* ===================== END HERO SLIDER======================= */

/* ===================== ABOUT ME ============================= */
.about-me-section {
  display: block;
  width: 100%;
  height: auto;
  min-height: 70vh;

  .portrait {
    position: fixed;
    bottom: -10px;
    left: 40px;
    height: 90%;
    z-index: -1;
  }
  .description {
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    img.signature {
      margin-top: 30px;
      margin-bottom: 30px;
      height: 100px;
      width: auto;
    }
  }
}
/* ===================== END ABOUT ME ========================= */

/* ===================== RECENT PROJECTS ====================== */
.recent-projects-section {
  display: block;
  height: 1000px;
  width: 100%;
  background-color: #1E1E1E;

  h2 {
    color: $text-light;
  }
}
/* ===================== END RECENT PROJECTS ================== */