
// LOGO FONT
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
// HEADERS
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
// PARAGRAPH
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');


// COLORS
$primary: #00EBFF;
$text-dark: #1E1E1E;
$text-light: #FFF;
$text-medium: #CCC;

// For animations when visible in viewport
.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1, h2 {
  text-transform: uppercase;
  color: $text-dark;
  font-family: 'Ropa Sans', sans-serif;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  text-transform: uppercase;
  color: $text-dark;
  font-family: 'Ropa Sans', sans-serif;
  padding: 5px;
  font-size: 20pt;
}

p {
  color: $text-dark;
  font-size: 17px;
  font-weight: 200;
  line-height: 30px;
}

.btn-default-dark {
  background-color: transparent;
  border: 1px solid $text-light;
  border-radius: 0;
  text-transform: uppercase;
  color: $text-light;
  padding: 10px 20px;
  &:hover {
    color: $primary;
    border-color: $primary;
    cursor: pointer;
  }
}
.flash-alert-wrapper {
  position: absolute;
  left: 50%;
  top: 10px;

  .flash-alert {
    position: relative;
    left: -50%;
    border: 1px solid $text-light;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
    color: $text-light;
    margin: 0;
    z-index: 9999;
  }
  .flash-danger {
    border-color: red;
    color: red;
  }
  .flash-success {
    border-color: $primary;
    color: $primary;
  }
}

/* ===================== SLICK SLIDER COMMON ========== */

button.slick-next,
button.slick-prev {
  visibility: hidden;
  position: absolute;
  top: 50%;
  z-index: 999;
  &.slick-arrow {
    width: 49px;
    height: 49px;
  }
  &:before {
    visibility: visible;
    content: "";
    display: block;
    width: 27px;
    height: 44px;
    background-color: $text-medium;
    mask-repeat: no-repeat;
    mask-size: 36px;
  }
}
button.slick-next {
  right: 10px;
  &:before {
    -webkit-mask-image: url("right-chevron.svg");
    mask-image: url("right-chevron.svg");
  }
}
button.slick-prev {
  left: 3px;
  &:before {
    -webkit-mask-image: url("left-chevron.svg");
    mask-image: url("left-chevron.svg");
  }
}

.slick-dots { position: absolute; bottom: 0px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px 5px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; outline: none; }
.slick-dots li button:focus { outline: none; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: '\2022'; width: 20px; height: 20px; font-family: "slick"; font-size: 20px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 0.75; }

/* ===================== END SLICK SLIDER COMMON ====== */

/* ===================== NAVBAR ======================= */

nav.navbar.transparent {
  background-color:transparent;
  background-color: rgba(30,30,30,0.5);
}

.navbar-brand {
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  font-size: 20pt;
}

nav .navbar-nav .nav-item {
  padding-left: 30px;
  font-size: 12pt;
  text-transform: uppercase;
}
nav .navbar-nav .nav-item a.nav-link {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 14pt;
  color: $text-light;
  &:hover {
    color: $primary;
  }
}

nav .navbar-nav .nav-item.active a.nav-link {
  color: $primary;
  font-weight: bold;
}
/* ===================== END NAVBAR ======================= */


/* ===================== HERO SLIDER======================= */
#hero-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $text-dark;

  img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .slider-caption {
    position: absolute;
    bottom: 20px;
    left: 10%;
    right: 10%;
    padding-bottom: 70px;

    h1 {
      background-color: $text-light;
      float: left;
    }
    p {
      font-size: 24pt;
      text-transform: uppercase;
      background-color: $text-dark;
      color: $text-medium;
      font-family: 'Ropa Sans', sans-serif;
      float: left;
      padding: 5px;
    }
  }
}
/* ===================== END HERO SLIDER======================= */

/* ===================== ABOUT ME ============================= */
#about-me-section {
  display: block;
  width: 100%;
  height: auto;
  min-height: 70vh;

  .portrait {
    position: fixed;
    bottom: -10px;
    left: 40px;
    height: 90%;
    z-index: -1;
  }
  .description {
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    text-align: justify;
    img.signature {
      margin-top: 30px;
      margin-bottom: 30px;
      height: 100px;
      width: auto;
    }
  }
}
/* ===================== END ABOUT ME ========================= */

/* ===================== RECENT PROJECTS ====================== */
#recent-projects-section {
  display: block;
  width: 100%;
  background-color: $text-dark;

  h2 {
    color: $text-light;
  }
  div.project-preview {
    padding: 0;
    margin: 0;
    img {
      width: 100%;
      height: auto;
    }
    .overlay {
      display: none;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid $text-light;

      h3 {
        color: $text-light;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
    }
  }

  div.project-preview:hover {
    .overlay {
      display: block;
      cursor: pointer;
    }
  }

  .btn-default-dark {
    margin: 30px auto;

  }
}
/* ===================== END RECENT PROJECTS ================= */

/* ===================== OPINIONS ============================ */
#slick-opinions-header {
  width: 100%;
  z-index: 999;
}

#opinions-section {
  display: block;
  height: auto;
  width: 100%;
  background-color: $text-light;
  padding-top: 100px;
  margin-top: -110px;
  padding-bottom: 60px;

  .opinion {
    display: block;
    height: auto;
    width: 100%;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    div {
      position: relative;
      float: left;
    }
    @media (max-width: 766px) {
      img {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

  }
}
/* ===================== END OPINIONS ======================== */

/* ===================== INSTAGRAM =========================== */
#instagram-section {
  height: auto;
  background-color: $text-dark;
  padding-top: 35px;
  padding-bottom: 35px;
  .row {
    width: 100%;
  }
  .capture {
    @media (max-width: 766px) {
      text-align: center;
    }
    @media (min-width: 766px) {
      padding-left: 2px;
    }
    h2 {
      color: $text-light;
      padding: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }
    p {
      color: $text-light;
      text-align: justify;
      margin-bottom: 20px;
    }
    button {
      margin-bottom: 35px;
    }
  }
  .gallery {
    padding: 0;
    margin: 0;
    @media (min-width: 766px) {
      padding-right: 20px;
      padding-left: 5px;
    }
    div {
      padding: 0;
      margin: 0;
      float: right;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

}
/* ===================== END INSTAGRAM ======================= */

/* ===================== FOOTER ============================== */
footer {
  width: 100%;
  height: auto;
  background-color: $text-light;
  font-family: 'Ropa Sans', sans-serif;
  text-transform: uppercase;
  .footer-brand {
    display: inline-block;
    font-family: 'Marcellus SC', serif;
    font-size: 27pt;
    margin-right: 10px;
    position: relative;
    float: left;
    padding: 0;
  }
  div.contacts {
    display: inline-block;
    line-height: 1;
    position: relative;
    float: left;
    margin-top: 34px;
  }
  div.social {
    display: inline-block;
    position: relative;
    float: right;
    font-size: 30px;
    margin-top: 30px;
  }
  div.creator {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}
/* ===================== END FOOTER ============================== */

.new-session,
.admin_dashboard {
  padding-top: 70px;
}
/* ===================== SESSIONS ================================ */
.new-session {
  display: block;
  width: 100%;
  min-height: 85vh;
  padding-top: 100px;
  background-color: $text-dark;
  color: $text-light;
  h2 {
    color: $text-light;
  }
}
/* ===================== END SESSIONS ============================ */
