
// LOGO FONT
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
// HEADERS
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
// PARAGRAPH
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');


// COLORS
$primary: #00EBFF;
$text-dark: #1E1E1E;
$text-light: #FFF;
$text-medium: #CCC;

// Page overlay
#page-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $text-dark;
  z-index: 999999;
}

// For animations when visible in viewport
.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1, h2 {
  text-transform: uppercase;
  color: $text-dark;
  font-family: 'Ropa Sans', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  text-transform: uppercase;
  color: $text-dark;
  font-family: 'Ropa Sans', sans-serif;
  padding: 5px;
  font-size: 20pt;
}

p {
  color: $text-dark;
  font-size: 17px;
  font-weight: 200;
  line-height: 30px;
}

.btn-default-dark {
  background-color: transparent;
  border: 1px solid $text-light;
  border-radius: 0;
  text-transform: uppercase;
  color: $text-light;
  padding: 10px 20px;
  &:hover {
    color: $primary;
    border-color: $primary;
    cursor: pointer;
  }
}
.btn-default-light {
  background-color: transparent;
  border: 1px solid $text-dark;
  border-radius: 0;
  text-transform: uppercase;
  color: $text-dark;
  padding: 10px 20px;
  &:hover {
    color: $primary;
    border-color: $primary;
    cursor: pointer;
  }
}

.flash-alert-wrapper {
  position: fixed;
  left: 50%;
  top: 15px;
  z-index: 9999;

  .flash-alert {
    position: relative;
    left: -50%;
    border: 1px solid $text-light;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Ropa Sans', sans-serif;
    color: $text-light;
    margin: 0;

  }
  .flash-danger {
    color: $text-light;
    background-color: red;
  }
  .flash-success {
    color: $text-light;
    background-color: green;
  }
}

.simple_form {
  span.help-block {
    font-size: 10pt;
    color: red;
  }
  input.form-control, textarea.form-control {
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
  }
}

.simple_form.light {
  input.form-control, textarea.form-control {
    border-color: $text-light;
    background-color: rgba(255, 255, 255, 0.2);
    color: $text-light;
    &::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
    &:-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
    &::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
    &:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
      color: $text-light;
    }
  }

}

/* ===================== NAVBAR ======================= */

nav.navbar.transparent {
  background-color:transparent;
  background-color: rgba(30,30,30,0.5);
}

.navbar-brand {
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  font-size: 20pt;
  @media (max-width : 480px) {
    font-size: 14pt;
  }
}

nav .navbar-nav .nav-item {
  padding-left: 30px;
  font-size: 12pt;
  text-transform: uppercase;
}
nav .navbar-nav .nav-item a.nav-link {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 14pt;
  color: $text-light;
  &:hover {
    color: $primary;
  }
}

nav .navbar-nav .nav-item.active a.nav-link {
  color: $primary;
}
/* ===================== END NAVBAR ======================= */


/* ===================== HERO SLIDER======================= */
#hero-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $text-dark;

  img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .slider-caption {
    position: absolute;
    bottom: 20px;
    left: 10%;
    right: 10%;
    padding-bottom: 70px;
    h1 {
      float: left;
      background-color: $text-light;
      padding: 5px;
      @media (max-width : 766px) {
        font-size: 14pt;
        padding: 2px;
      }
    }
    p {
      clear: both;
      float: left;
      font-size: 20pt;
      text-transform: uppercase;
      background-color: $text-dark;
      color: $text-medium;
      font-family: 'Ropa Sans', sans-serif;
      padding: 5px;
      @media (max-width : 766px) {
        font-size: 14pt;
        padding: 2px;
      }
    }
  }
}
/* ===================== HERO SLIDER ADMIN ==================== */
#slides-list {
  img {
    width: 100%;
  }
  .slide,
  .slide-new {
    margin-bottom: 10px;
  }
}
/* ===================== END HERO SLIDER ======================= */

/* ===================== ABOUT ME ============================= */
#about-me-section {
  display: block;
  width: 100%;
  .about-portrait img {
    position: fixed;
    bottom: -10px;
    left: 40px;
    height: 90%;
    z-index: -1;
    background-attachment:fixed;
    @media (max-width : 1025px) {
      width: 50vw;
      height: auto;
    }
    @media (max-width : 800px) {
      width: 70vw;
      height: auto;
    }
    &.vertical {
      width: 100vw;
      height: auto;
    }
  }
  .description {
    background-color: rgba(255,255,255,0.7);
    padding: 10px 30px;
    min-height: 70vh;
    text-align: justify;
    img.signature {
      margin-top: 30px;
      margin-bottom: 30px;
      height: 100px;
      width: auto;
      @media only screen and (max-width : 992px) {
        height: auto;
        width: 50%;
      }
    }
  }
}
/* ===================== END ABOUT ME ========================= */

/* ===================== RECENT PROJECTS ====================== */
#projects-section {
  display: block;
  width: 100%;
  background-color: $text-dark;
  //margin-bottom: 10px;
  h2 {
    color: $text-light;
  }
  div.project-preview {
    display: inline-block;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      min-height: 100%;
    }
    .overlay {
      display: none;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid $text-light;

      h3 {
        color: $text-light;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
    }
  }
  div.action-button {
    clear: both;
    display: block;
  }

  div.project-preview:hover {
    .overlay {
      display: block;
      cursor: pointer;
    }
  }

  .btn-default-dark {
    margin: 30px auto;
  }
}
/* ========== PORTFOLIO PAGE */
#portfolio-page {
  margin-top: 70px;
  width: 100%;
}
#project-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $text-dark;
  margin-bottom: -70px;

  .slider-cover-photo {
    img {
      //display: block;
      margin-left: auto;
      margin-right: auto;
      z-index: -1;
      height: auto;
      max-height: 100vh;
      width: auto;
    }
  }

  .slider-nav {
    bottom: 70px;
    background-color: $text-dark;
    img.slick-slide {
      height: 70px;
      width: auto;
      opacity: 0.5;
      margin-left: 5px;
      margin-right: 5px;
      &.slick-current {
        opacity: 1;
      }
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    .slick-track {
      margin-left:auto; margin-right:auto;
    }
  }
}
/* ===================== ADMIN RECENT PROJECTS =============== */
#projects {
  div[id^="project-"] {
    margin-bottom: 20px;
  }
}
.project-gallery {
  margin-bottom: 20px;
  img {
    height: 100px;
    width: auto;
  }
}
#project-photos {
  img {
    width: 100%;

  }
  .photo,
  .photo-new {
    margin-bottom: 10px;
  }
}
/* ===================== END RECENT PROJECTS ================= */

/* ===================== OPINIONS ============================ */
#slick-opinions-header {
  width: 100%;
  z-index: 999;
}

#opinions-section {
  display: block;
  height: auto;
  width: 100%;
  background-color: $text-light;
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 60px;

  .opinion {
    display: block;
    height: auto;
    width: 100%;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    div {
      position: relative;
      float: left;
    }
    @media (max-width: 766px) {
      img {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

  }
}
/* ===================== OPINIONS ADMIN ==================== */
#opinions-list {
  img {
    width: 100%;
  }
  .opinion,
  .opinion-new {
    margin-bottom: 10px;
  }
}
/* ===================== END OPINIONS ======================== */

/* ===================== INSTAGRAM =========================== */
#instagram-section {
  height: auto;
  background-color: $text-dark;
  padding-top: 30px;
  .row {
    width: 100%;
  }
  .capture {
    @media (max-width: 766px) {
      text-align: center;
    }
    @media (min-width: 766px) {
      padding-left: 2px;
    }
    h2 {
      color: $text-light;
      padding: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }
    p {
      color: $text-light;
      margin-bottom: 0;
    }
    a.btn {
      margin: 30px 0;
      @media (max-width: 766px) {
        margin: 30px auto;
      }
    }
  }
  .gallery {
    padding: 0;
    margin: 0;
    @media (min-width: 766px) {
      padding-right: 20px;
      padding-left: 5px;
      padding-bottom: 30px;
    }
    div {
      padding: 0;
      margin: 0;
      float: right;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
      	-webkit-transition: .3s ease-in-out;
      	transition: .3s ease-in-out;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

/* ===================== ADMIN INSTAGRAM ===================== */

/* ===================== END INSTAGRAM ======================= */

/* ===================== CONTACT PAGE ======================== */
#contact-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  #contact-form {
    display: block;
    width: 100vw;
    min-height: calc(100vh - 90px);
    padding-top: 75px;
    //padding-bottom: 15px;
    h2, p, form {
      color: $text-light;
    }
  }
}
/* ===================== END CONTACT PAGE ==================== */

/* ===================== FOOTER ============================== */
footer {
  display: block;
  width: 100%;
  height: auto;
  background-color: $text-light;
  font-family: 'Ropa Sans', sans-serif;
  text-transform: uppercase;
  padding-top: 30px;
  .footer-brand {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    font-size: 24pt;
    margin-right: 10px;
    position: relative;
    float: left;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width : 480px) {
      font-size: 14pt;
    }
  }
  div.contacts {
    display: inline-block;
    line-height: 1;
    position: relative;
    float: left;
  }
  div.social {
    display: inline-block;
    position: relative;
    float: right;
    font-size: 30px;
    line-height: 1;
  }
  div.creator {
    clear: both;
    position: relative;
    float: right;
    margin-top: 5px;
    a {
      color: #00A4B2;
    }
  }
}
/* ===================== END FOOTER ============================== */

.new-session,
.admin_dashboard {
  padding-top: 70px;
}
/* ===================== SESSIONS ================================ */
.new-session {
  display: block;
  width: 100%;
  min-height: 85vh;
  padding-top: 100px;
  background-color: $text-dark;
  color: $text-light;
  h2 {
    color: $text-light;
  }
}
/* ===================== END SESSIONS ============================ */

/* ===================== ADMIN =================================== */
.admin_dashboard {
  h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
/* ===================== END ADMIN =============================== */
